Loops

In [2]:
#for loop

seq=[1,2,3,4,5]

In [7]:
for item in seq:
    print(item)

1
2
3
4
5

In [10]:
i=1

while  i<=5:
    print(' i is {}'.format(i))
    i+=1

 i is 1
 i is 2
 i is 3
 i is 4
 i is 5

In [13]:
#use of range 

for x in range(1,10):    #last wale se hamesha ek chota tk chalega 
    print(x)

1
2
3
4
5
6
7
8
9

In [14]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
#list comprehension
x=[1,2,3,4]

In [21]:
out =[]
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16]

In [23]:
#but we can use list comprehension
[num**2 for num in x]   #in simple words : give the num square for num in x

[1, 4, 9, 16]

Functions

In [32]:
#keyword for function is def

#create a function for return the square of the given number
def my_func(param1):
    print(param1**2)

In [33]:
my_func(2)

4

In [34]:
my_func(100000)

10000000000

In [35]:
""" Triple Quotes se multi line comments hota hai """

' Triple Quotes se multi line comments hota hai '